body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 20px 150px;
  background-color: #1f2937;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  list-style: none;
  display: flex;
  gap: 8px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.blue-container {
  display: flex;
  height: 400px;
  background-color: #1f2937;
  padding: 20px 150px;
  justify-content: center;
  gap: 80px;
}

.left-container {
  display: flex;
  flex-direction: column;
  /* padding: 20px 280px 40px 0px; */
}

h2 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
}

p {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  width: 120px;
  padding: 9px;
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 8px;
  border: none;
}

.big-img {
  width: 500px;
  height: 300px;
}

.white-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  padding: 20px 150px;
  flex: 1;
}

h3 {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2937;
}

.pics-container {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 5px;
}

.small-img {
  border: 5px solid #3882f6;
  width: 100px;
  height: 100px;
}

.img-text {
  color: #1f2937;
}

.grey-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
  padding: 20px 190px;
  flex: 1;
  background-color: #e5e7eb;
}

h4 {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  font-weight: lighter;
}

h5 {
  align-self: flex-end;
}

.white-container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  padding: 50px 150px;
  flex: 1;
}

.action-container {
  display: flex;
  background-color: #3882f6;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  padding: 10px 200px;
  gap: 100px;
}

.call-title {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.call-content {
  font-size: 18px;
  font-weight: lighter;
  color: white;
}

.white-button {
  color: white;
  border: 2px solid white;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  padding: 20px;
  color: #e5e7eb;
}
